/************************************************************
* 
* Header
*
/************************************************************/
@media only screen and (max-width: 991px) {
  h3.c-main-title {
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }

}
@media (max-width: 991px) {
	.c-layout-revo-slider-6 .c-main-title {
	  margin-top: -80px;
	  padding: 20px;
	  font-size: 20px;
	  line-height: 24px;
	}
}
@media (max-width: 991px){
	.c-layout-revo-slider-6 .c-sub-title {
	  padding: 15px 30px;
	  line-height: 22px;
	  font-size: 8.5px;
	  margin-left: 20px;
	}
}

.c-button-resaltado {
  background: #32c5d2;
  padding: 5px 10px;
  color: white;
}

.c-enisa-subtitle {
  background: white;
  color: #4f5054 !important;
  padding: 15px;
  margin-top: 40px;
}
.c-caption-image {
	/*margin: 0 auto;*/
  display: block;
  margin-bottom: 30px;
}

.c-container-consultoria {
	padding: 80px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(../../../base/img/content/backgrounds/bg-19.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.c-content-box-consultoria {
	padding-top: 0px !important;
}	
.c-title-pricing-1 > h4 {
	float: initial;
	margin-top: 0px;
  margin-bottom: 30px;
}

/************************************************************
* 
* Características
*
/************************************************************/
.c-content-pricing-1.c-opt-1 .c-content > .c-row {
	height: 100px;
}


/************************************************************
* 
* Packs
*
/************************************************************/
.c-packs-description {
  margin: 15px 30px;
  text-align: left;
}