/************************************************************
* 
* Header
*
/************************************************************/
.c-main-title {
  display: table;
    position: relative;
    vertical-align: middle;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 1135px;
}
  .c-main-title > span {
    display: table-cell;
    vertical-align: middle;
  }
@media only screen and (max-width: 991px) {
  h3.c-main-title {
    font-size: 25px !important;
    line-height: 1.1 !important;
    margin: 0 15px;
  }
}

.c-button-resaltado {
  background: #32c5d2;
  padding: 5px 10px;
  color: white;
}

.c-enisa-subtitle {
  background: white;
  color: #4f5054 !important;
  padding: 15px;
  margin-top: 40px;
}
.c-caption-image {
  display: block;
  margin-bottom: 30px;
}

.c-container-consultoria {
	padding: 80px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(../../../base/img/content/backgrounds/bg-65.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.c-content-box-consultoria {
	padding-top: 0px !important;
}	


.c-content-title-1 {
  z-index: 9;
  position: relative;
}

.bg-blue {
  background-color: #32c5d2 !important;
  color: #FFF !important;
  font-size: 18px;
}

.text-shadow {
  text-shadow: 2px 2px 6px #343a3d;
}

/* Estilos para ocultar el buscador */
.c-search-toggler *, .nav.navbar-nav.c-theme-nav-right * {
  display: none !important;
}

/************************************************************
* 
* Alert
*
/************************************************************/
#alert-ok .close {
  top: -22px;
}
.d-none {
  display: none;
}

label {
  font-size: 15px;
  font-weight: initial;
}


/************************************************************
* 
* Documents
*
/************************************************************/
a > .icon-download {
  width: 67px;
  height: 67px;
  border-radius: 33.5px;
  text-align: center;
  padding: 20px;

  background: #E2E2E2;
}
  a:hover > .icon-download {
    background: #32c5d2;
    color: white;
  }
  .icon-download.left {
    float: left;
  }
  .icon-download.right {
    float: right;
  }
.form-modal {
  float: none;
  margin: 0 auto;
}


/************************************************************
* 
* Footer
*
/************************************************************/
.c-layout-footer-7 {
  margin: 0;
  background-color: #2e3336; }
  .c-layout-footer-7 .c-input {
    background-color: #2e3336;
    border-color: #3f464d;
    color: #58626d; }
  .c-layout-footer-7 .c-prefooter {
    padding: 30px 0 35px 0; }
  .c-layout-footer-7 .c-content-title-1 .c-title {
    color: #d5dfe5;
    margin-bottom: 25px; }
  .c-layout-footer-7 .c-head {
    margin: 5px auto; }
    .c-layout-footer-7 .c-head .c-left .socicon {
      margin-top: 3px; }
      .c-layout-footer-7 .c-head .c-left .socicon .socicon-btn {
        width: auto;
        height: auto;
        padding: 13px;
        background-color: #2a2e31; }
        .c-layout-footer-7 .c-head .c-left .socicon .socicon-btn + .socicon-btn {
          margin-left: 5px; }
    .c-layout-footer-7 .c-head .c-right {
      float: right; }
      .c-layout-footer-7 .c-head .c-right .socicon-btn {
        margin: 0; }
      .c-layout-footer-7 .c-head .c-right .c-title {
        float: left;
        margin: 20px 30px 0;
        color: #d5dfe5; }
      .c-layout-footer-7 .c-head .c-right .c-icons {
        float: left; }
        .c-layout-footer-7 .c-head .c-right .c-icons > .socicon-btn {
          width: auto;
          height: auto;
          padding: 13px;
          float: left;
          margin-left: -1px;
          border-color: #353b3e; }
          .c-layout-footer-7 .c-head .c-right .c-icons > .socicon-btn:hover {
            background-color: #32383b; }
  .c-layout-footer-7 .c-body .c-twitter {
    width: 340px;
    color: #b1c4d0; }
  .c-layout-footer-7 .c-body .c-links {
    float: left;
    padding: 0; }
    .c-layout-footer-7 .c-body .c-links > li {
      list-style-type: none;
      line-height: 30px; }
      .c-layout-footer-7 .c-body .c-links > li > a {
        color: #b1c4d0; }
        .c-layout-footer-7 .c-body .c-links > li > a:hover {
          color: #e7eef3; }
    .c-layout-footer-7 .c-body .c-links + .c-links {
      padding-left: 50px; }
  .c-layout-footer-7 .c-body .c-address {
    margin: 0;
    color: #7e8b93; }
  .c-layout-footer-7 .c-foot {
    padding-bottom: 5px; }
    .c-layout-footer-7 .c-foot .c-text {
      margin: 0; }
  .c-layout-footer-7 .c-line {
    width: 100%;
    height: 1px;
    background-color: #393f42;
    margin: 40px auto; }
  .c-layout-footer-7 .c-postfooter {
    padding: 30px 0; }
    .c-layout-footer-7 .c-postfooter .c-copyright {
      font-size: 15px;
      margin: 0; }
    .c-layout-footer-7 .c-postfooter .c-payments {
      margin-right: -5px; }
    .c-layout-footer-7 .c-postfooter .c-col {
      height: 38px;
      line-height: 38px; }